{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Festival Page</title>
        <link rel="stylesheet" href="{% static 'festival.css' %}">
    </head>
    <body>
        <header>
            <h1>Sankranthi Festival Webpage</h1>
            <nav>
                <a href="#Home">Home</a>
                <a href="#AboutSankranthi">About Sankranthi</a>
                <a href="#KiteFlying">Kite Flying</a>
            </nav>
        </header>
        <main>
            <section id="Home">
                <div>
                    <h4>Welcome to the Sankranthi Festival Webpage!</h4>
                </div>
            </section>
            <section id="AboutSankranthi">
                <div>
                    <h4>About Sankranthi</h4>
                    <p>Makar Sankranthi is one of the most significant festival of the Hindu religion. It is celebrated on 14th or 15th January every year. </p>
                    <p>It is the festival which is celebrated across the country with different names. It signifies the process of life and regeneration, indicating the beginning of the new harvest year.</p>
                </div>
                <div>
                    <img src="{% static 'Bhogi.png' %}" alt="">
                    <img src="{% static 'Sankrathi.png' %}" alt="">
                </div>
            </section>
            <section id="KiteFlying">
                <div>
                    <h4>Kite</h4>
                    <p>the traditions of flying kites on Makar Sankranti are carried out so that people are exposed to the Sun rays. Being exposed to the sun's rays helps in getting rid of skin infections and illnesses associated with the winter season.</p>
                </div>
                <div>
                    <img src="{% static 'Kite-1.jpeg' %}" alt="">
                    <img src="{% static 'Kite-2.jpeg' %}" alt="">
                </div>
            </section>
        </main>
        <footer>
            <p>&copy; 2024 Sankranthi Festival Webpage</p>
        </footer>
    </body>
</html>