{% extends "master.html" %}
{% block title %}
    orange squash
{% endblock title %}
{% block content %}
    <h1>Orange Squash</h1>

    <h3>How do you prepare Orange Squash?</h3>
    <ul>
        <li>Select juicy oranges and extract the juice.</li>
        <li>Take water, sugar and citric acid and boil the mixture till the sugar is completely dissolved.</li>
        <li>Add orange colour essense and juice.</li>
        <li>Dissolved the potassium metabisulphate in a little juice and mix it into the prepared squash.</li>
        <li>Pour into sterilized bottles to cool.</li>
        <li>Seal it or close the bottle tightly store the bottle in a cool place away from the sun.</li>
    </ul>
{% endblock content %}