<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>English Worksheet 01</title>
        <style>
            td
            {
                padding: 17px;
            }
            u
            {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>English</h1>
        <p>A group of friends are discussing plans for a party. Complete the dialogue with suitable pronouns from the box. You will need to use some of these Pronouns more than once.</p>
        <table border="1">
            <tr>
                <td>him</td>
                <td>her</td>
                <td>they</td>
                <td>he</td>
                <td>our</td>
                <td>mine</td>
                <td>I</td>
                <td>she</td>
                <td>you</td>
                <td>we</td>
                <td>us</td>
                <td>it</td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td><b>Nadia:</b></td>
                <td>Bhim, let's organise a birthday party for Geeta next Sunday. What do <u>you</u> think?</td>
            </tr>
            <tr>
                <td><b>Bhim:</b></td>
                <td>I don't mind. But <u>it</u> was Raja who first suggested this, so, let us ask <u>him</u>.</td>
            </tr>
            <tr>
                <td><b>Nadia:</b></td>
                <td>Who all should <u>I</u> invite?</td>
            </tr>
            <tr>
                <td><b>Bhim:</b></td>
                <td>Ravi won't be here. <u>He</u> is going to lucknow to see his aunt.</td>
            </tr>
            <tr>
                <td><b>Nadia:</b></td>
                <td>What about the food and cake? should <u>we</u> bring cooked food from home or should we buy <u>it</u> from the market?</td>
            </tr>
            <tr>
                <td><b>Bhim:</b></td>
                <td>I think that will be too expensive. Let each one of <u>our</u> bring one item.</td>
            </tr>
            <tr>
                <td><b>Nadia:</b></td>
                <td>Who do <u>you</u> think can arrange a music system for playing music? I would have brought <u>mine</u> but has gone for repair.</td>
            </tr>
            <tr>
                <td><b>Bhim:</b></td>
                <td>Don't worry. My neighbours have one, <u>they</u> are nice people. If <u>I</u> request them, <u>they</u> would surely lend  <u>it</u> to me.</td>
            </tr>
            <tr>
                <td><b>Nadia:</b></td>
                <td>That's good. Now coming back to <u>our</u> list, who else should <u>I</u> invite?</td>
            </tr>
            <tr>
                <td><b>Bhim:</b></td>
                <td>I think we can invite Rose who joined our school last week. <u>She</u> seems to be a friendly girl.</td>
            </tr>
            <tr>
                <td><b>Nadia:</b></td>
                <td>Okay, so <u>I</u> will invite <u>her</u>. What about Sanjay? He gets along well with all of <u>us</u>. <u>He</u> will entertain and make <u>us</u> laugh too.</td>
            </tr>
            <tr>
                <td><b>Bhim:</b></td>
                <td>Let's ask Rose and Sanjay if <u>they</u> would like to join <u>our</u> party. It will be nice if <u>they</u> agree.</td>
            </tr>
        </table>
        <p><a href="/">Back</a></p>
    </body>
</html>