{% extends "master.html" %}
{% block title %}
    Worksheet 16
{% endblock title %}
{% block content %}
    <style>
        u
        {
            color: red;
        }
    </style>
    <h1>Modals</h1>
    <p>Special verbs used with the main verb to make the sentence meaningful.</p>
    <table class="text-center table table-bordered table-sm w-50">
        <thead>
            <tr>
                <th colspan="2">Modal Verbs</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>can</td>
                <td>ought to</td>
            </tr>
            <tr>
                <td>could</td>
                <td>shall</td>
            </tr>
            <tr>
                <td>may</td>
                <td>should</td>
            </tr>
            <tr>
                <td>might</td>
                <td>will</td>
            </tr>
            <tr>
                <td>must</td>
                <td>would</td>
            </tr>
        </tbody>
    </table>
    <h4>I. Fill in the blanks using the correct Modal Verbs:</h4>
    <ol>
        <li><u>May</u> I borrow your notebook.</li>
        <li>I <u>could</u> ride a horse when I was 5 years old.</li>
        <li><u>could</u> you hold this for a while?</li>
        <li>It <u>may</u> rain today.</li>
        <li><u>would</u> you like some tea.</li>
        <li>I <u>will</u> write to you as soon as reach Delhi.</li>
        <li>We <u>ought to</u> respect our parents.</li>
        <li>You <u>must</u> take care your health.</li>
        <li>I <u>can</u> speak German.</li>
        <li><u>Shall</u> I bring a glass of water for you?</li>
        <li>We <u>should</u> take care of our pets.</li>
        <li><u>Could</u> you please shut the door?</li>
        <li><u>Shall</u> I make some coffee for you?</li>
        <li>It'e getting late. I <u>must</u> go now.</li>
        <li>I <u>would</u> like to meet the Principal Ma'am</li>
        <li>You <u>can't</u> make fun of others.</li>
        <li>You <u>ought to</u> respect your elders.</li>
    </ol>
    <h4>II. Fill in with Modals - (would/should)</h4>
    <ol>
        <li><u>would</u> you pass the bottle of sauce, please.</li>
        <li>One <u>should</u> eat only when one is hungry.</li>
        <li>You <u>should</u> not get upset so often.</li>
        <li><u>Would</u> you mind giving me your pen for sometime?</li>
        <li>The benefits of development <u>should</u> reach the rural people also.</li>
        <li><u>Would</u> you like to come for the trip.</li>
    </ol>
    <a href="/">Back</a>
{% endblock content %}