{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'worksheet18.css'%}">
    <title>Worksheet 18</title>
</head>
<body>
    <h1>English</h1>
    <p>Question Words are -></p>
    <table>
        <tr>
            <td>How</td>
            <td>Who</td>
            <td>How much</td>
        </tr>
        <tr>
            <td>What</td>
            <td>Whom</td>
            <td>How many</td>
        </tr>
        <tr>
            <td>When</td>
            <td>Whose</td>
            <td>How long</td>
        </tr>
        <tr>
            <td>Where</td>
            <td>Why</td>
            <td>How often</td>
        </tr>
        <tr>
            <td>Which</td>
        </tr>
    </table>
    <h4>Use the above question words and complete the sentences:</h4>
    <ol>
        <li><u>How</u> old is your cat?</li>
        <li><u>When</u> did you begin working in this company?</li>
        <li><u>How many</u>  people are there in the conference room?</li>
        <li><u>How much</u> time will you take to complete this work?</li>
        <li><u>How often</u> do you go to the gym?</li>
        <li><u>Why</u> were you late for work yesterday?</li>
        <li><u>Who</u> does this laptop belong to?</li>
        <li><u>How much</u> do these shoes cost?</li>
        <li><u>How long</u> is the journey from ship to New Delhi.</li>
        <li><u>When</u> will you reach home?</li>
        <li><u>How many</u> brothers do you have?</li>
        <li><u>Who</u> wants to come for the picnic?</li>
        <li><u>What</u> do you want to do this evening?</li>
        <li><u>Where</u> do you all want to go in the holidays?</li>
        <li><u>Which</u> shops sell the battery cars?</li>
        <li><u>Why</u> aren't you going to Peter's party?</li>
        <li><u>Whose</u> books are these?</li>
        <li>To <u>whom</u> does this water bottle belong to?</li>
        <li><u>Which</u> flavour of pizza would you like to have?</li>
        <li><u>Which</u> place are you staying at?</li>
        <li><u>When</u> did you arrive?</li>
        <li><u>Why</u> do you visit library?</li>
        <li><u>Who</u> is at the door?</li>
        <li><u>Whom</u> do I meet to get permission?</li>
        <li><u>What</u> is the largest city in the world?</li>
    </ol>
</body>
</html>