{% extends "master.html" %}

{% block title %}
    English Grammar
{% endblock title %}

{% block content %}
    <h1>English Grammar</h1>

    <h3>Write past tense for the following:</h3>
        <table class="table table-striped">
            <tr>
                <th scope="col">S. No.</th>
                <th scope="col">Present Tense</th>
                <th scope="col">Past Tense</th>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>catch</td>
                <td>caught</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>help</td>
                <td>helped</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>dance</td>
                <td>danced</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>bring</td>
                <td>brought</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>teach</td>
                <td>taught</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>tell</td>
                <td>told</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>sing</td>
                <td>sang</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>jump</td>
                <td>jumped</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>buy</td>
                <td>bought</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>keep</td>
                <td>kept</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>sleep</td>
                <td>slept</td>
            </tr>
        </table>

    <h3>Make Sentences:</h3>
        <table class="table table-striped">
            <tr>
                <th scope="col">S. No.</th>
                <th scope="col">Word</th>
                <th scope="col">Sentence</th>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>playing</td>
                <td>I enjoyed playing cricket.</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>great</td>
                <td>Ashoka was a great prince.</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>after</td>
                <td>I attended after school.</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>above</td>
                <td>The bird fell above the ground.</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>interested</td>
                <td>I am interested about cricket.</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>careful</td>
                <td>Be careful while you're driving.</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>happy</td>
                <td>I am happy about the srisailam trip.</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>new</td>
                <td>I've new shirt and trouser.</td>
            </tr>
        </table>
{% endblock content %}