{% extends "master.html" %}

{% block title %}
    Sample Site 
{% endblock %}

{% block content %}
    <h1>Sample Site</h1>
    <ul>
        <li><a href="members/">Members</a></li>
        <li><a href="sample/">Sample</a></li>
        <li><a href="students/">Students</a></li>
        <li><a href="employee/">Employees</a></li>
        <li><a href="trip/">Trip</a></li>
    </ul>
    <h1>English</h1>
    <ul>
        <li><a href="eng/worksheet-1">Worksheet 1</a></li>
        <li><a href="eng/worksheet-13">Worksheet 13</a></li>
        <li><a href="eng/grammar">Grammar</a></li>
        <li><a href="eng/worksheet-16">Worksheet 16</a></li>
        <li><a href="eng/worksheet-18">Worksheet 18</a></li>
    </ul>
    <h1>Home Science</h1>
    <ul>
        <li><a href="hs/orange-squash">Orange Squash</a></li>
    </ul>
    <h1>Painting</h1>
    <ul>
        <li><a href="painting/exam-QA">Exam-QA</a></li>
    </ul>
    <h1>Webpage</h1>
    <ul>
        <li><a href="travelblog/travel">Travel Blog</a></li>
    </ul>
    <h1>Festival Page</h1>
    <ul>
        <li><a href="festivalPage/index">Sankranthi</a></li>
    </ul>
{% endblock %}