{% extends "master.html" %}

{% block title %}
    Sample Site 
{% endblock %}

{% block content %}
    <h1>Sample Site</h1>
    <ul>
        <li><a href="members/">Members</a></li>
        <li><a href="sample/">Sample</a></li>
    </ul>
    <h1>English</h1>
    <ul>
        <li><a href="eng/worksheet-1">Worksheet 1</a></li>
        <li><a href="eng/worksheet-13">Worksheet 13</a></li>
        <li><a href="eng/grammar">Grammar</a></li>
    </ul>
    <h1>Home Science</h1>
    <ul>
        <li><a href="hs/orange-squash">Orange Squash</a></li>
    </ul>
{% endblock %}