<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
    </head>
    <body>
        {% with welcomeText=0 %}
            {% if welcomeText == 1 %}
                <h1>Hello {{firstName}} {{lastName}}, How are you</h1>
            {% elif welcomeText == 2 %}
                <h1>Welcome {{firstName}} {{lastName}}</h1>
            {% else %}
                <h1>Thank you</h1>
            {% endif %}
        {% endwith %}
    </body>
</html>