{% extends "master.html" %}
{% block title %}
    Students
{% endblock title %}
{% block content %}
    <h1>Students</h1>
    <div class="list-group">
        {% for student in students %}
            <a class="fs-4 list-group-item list-group-item-action" href="details/{{student.id}}">
                {{student.studentName}}
            </a>
        {% endfor %}
    </div>
    <p class="m-3">
        <a class="btn btn-primary" href="{% url 'sample:create_student' %}">Add student</a>
        <a class="btn btn-danger" href="/">Back</a>
    </p>
{% endblock content %}