body
{
    margin: 0;
    padding: 0;
}
header 
{
    background-color: red;
    color: white;
    text-align: center;
    padding: 8px 0;
}
nav
{
    background-color: burlywood;
    padding: 1em;
    text-align: center;
}
a
{
    text-decoration: none;
    color: white;
    margin: 0 1em;
    padding: 0.5em 1em;
}
main
{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
#photoGallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#photoGallery img
{
    max-width: 45%;
    margin: 10px;
}
footer
{
    text-align: center;
    background-color: black;
    color: white;
    padding: 8px;
}