<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spreadsheet and Presentation</title>
    </head>
    <body>
        <h1>Spreadsheet</h1>
        <ol>
            <li>What is a Spreadsheet?</li>
            <ul>
                <li>Spreadsheet is a document consisting of rows and columns. It is collection of multiple sheets in which data stored in a tabular manner.</li>
            </ul>
            <li>What are the main features of MS Excel?</li>
            <ul>
                <li>Main features of MS Excel are AutoSum, AutoFill, Sorting & Filtering, Formula, Charts, Pivot Table</li>
            </ul>
        </ol>
    </body>
</html>